<div class="flex-column" *ngIf="!_userService.is_auth_user">
  <h2 *ngIf="!_userService.is_registration" class="text-center">Log In </h2>
  <h2 *ngIf="_userService.is_registration" class="text-center">Sign In </h2>
  <div class=" center-block text-center" >
    <input type="text" style="margin: 10px;" placeholder="Email" name="login-email" [(ngModel)]="user.email">
    <span *ngFor="let error of _userService.errors.email"><br />
    {{ error }}</span>
  </div>
  <div class="center-block text-center" *ngIf="_userService.is_registration">
    <input type="text" style="margin: 10px" placeholder="Username" name="login-username" [(ngModel)]="user.username">
    <span *ngFor="let error of _userService.errors.username"><br />
    {{ error }}</span>
  </div>
  <div class="center-block text-center">
    <input type="password" style="margin: 10px" placeholder="Password" name="login-password" [(ngModel)]="user.password">
    <span *ngFor="let error of _userService.errors.password"><br />
    {{ error }}</span>
  </div>
  <div class="center-block text-center" *ngIf="!_userService.is_registration">
    <button (click)="login()" class="btn btn-primary" style="margin: 10px">Log In</button>
    <button (click)="toRegistration()" class="btn btn-primary" style="margin: 10px">Do you want to sing in?</button>
  </div>
  <div class="center-block text-center" *ngIf="_userService.is_registration">
    <button (click)="registration()" class="btn btn-primary" style="margin: 10px">Sign in</button>
    <button (click)="toLogin()" class="btn btn-primary" style="margin: 10px">Back to login?</button>
  </div>
  <div class="center-block text-center">
    <span *ngFor="let error of _userService.errors.non_field_errors">{{ error }}<br /></span>
  </div>
</div>

<div class="center-block" *ngIf="_userService.is_auth_user">
  <div class="center-block text-right">
    <label>You are logged in as {{_userService.username}}.</label>
    <button (click)="logout()" class="btn btn-primary" style="margin: 10px">Log Out</button>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col-md-4">
      <h3>Create a new post:</h3>
      <div class="col-md-5 mb-1">
        <input placeholder="Enter your post" type="text" name="create_text" [(ngModel)]="creating_post.body">
        <button (click)="createPost()"  class="btn btn-primary m-2" style="margin: 10px">Create</button>
      </div>
    </div>

    <div class="col-md-4 mb-1">
      <h3>Delete post:</h3>
      <div class="col-md-9 mb-1">
        <input placeholder="Entry post id" type="text" name="delete_id" [(ngModel)]="deleting_id">
        <button (click)="deletePost()"  class="btn btn-primary m-2" style="margin: 10px">Delete</button>
      </div>
    </div>

    <div class="col-md-4 mb-1">
      <h3>Edit post:</h3>
        <div class="flex-lg-row ml-2">
          <input placeholder="id" type="text" name="edit_id" class="col-md-3 mr-2 ml-2" [(ngModel)]="editing_post.id">
          <input placeholder="Entry text" type="text" name="edit_text" class="col-md-7" [(ngModel)]="editing_post.body">
        </div>
        <button (click)="editPost()"  class="btn btn-primary ml-4 mt-2">Edit</button>
    </div>
  </div>
  <br>
  <h2 class="text-center">Your feed</h2>
  <div style="align-content: center;" *ngFor="let post of posts">
    <div class="flex-column" style="align-content: center; margin: 20px">
      <div class="text-right">{{ post.date }}</div>
      <div class="row left">{{ post.id }}. &emsp;  {{ post.body }}</div>
    </div>
  </div>
</div>
