<div class="flex-column" *ngIf="!_userService.is_auth_user">
  <h2 *ngIf="!_userService.is_registration" class="text-center">Log In </h2>
  <h2 *ngIf="_userService.is_registration" class="text-center">Sign In </h2>
  <div class=" center-block text-center" >
    <input type="text" style="margin: 10px;" placeholder="Email" name="login-email" [(ngModel)]="user.email">
    <span *ngFor="let error of _userService.errors.email"><br />
    {{ error }}</span>
  </div>
  <div class="center-block text-center" *ngIf="_userService.is_registration">
    <input type="text" style="margin: 10px" placeholder="Username" name="login-username" [(ngModel)]="user.username">
    <span *ngFor="let error of _userService.errors.username"><br />
    {{ error }}</span>
  </div>
  <div class="center-block text-center">
    <input type="password" style="margin: 10px" placeholder="Password" name="login-password" [(ngModel)]="user.password">
    <span *ngFor="let error of _userService.errors.password"><br />
    {{ error }}</span>
  </div>
  <div class="center-block text-center" *ngIf="!_userService.is_registration">
    <button (click)="login()" class="btn btn-primary" style="margin: 10px">Log In</button>
    <button (click)="toRegistration()" class="btn btn-primary" style="margin: 10px">Do you want to sing in?</button>
  </div>
  <div class="center-block text-center" *ngIf="_userService.is_registration">
    <button (click)="registration()" class="btn btn-primary" style="margin: 10px">Sign in</button>
    <button (click)="toLogin()" class="btn btn-primary" style="margin: 10px">Back to login?</button>
  </div>
  <div class="center-block text-center">
    <span *ngFor="let error of _userService.errors.non_field_errors">{{ error }}<br /></span>
  </div>
</div>

<div class="center-block" *ngIf="_userService.is_auth_user">
  <div class="center-block text-center">You are logged in as {{_userService.username}}.<br />
    <button (click)="logout()" class="btn btn-primary" style="margin: 10px">Log Out</button>
  </div>

  <h3>Create a new post:</h3>
  <div class="row mb-1">
    <div class="col-md-9 mb-1">
      <input placeholder="Enter your post" type="text" name="body" [(ngModel)]="new_post.body">
      <button (click)="createPost()"  class="btn btn-primary" style="margin: 10px">Create new post</button>
    </div>
  </div>

  <br>
  <h2 class="text-center">Your feed</h2>
  <div style="align-content: center;" *ngFor="let post of posts">
    <div class="flex-column " style="align-content: center; margin: 20px">
      <div class="text-right"><label>Date:</label>{{ post.date }}</div>
      <div class="row left">{{ post.body }}</div>
    </div>
  </div>
</div>
