{% extends "base.html" %}
{% load static %}
 
{% block content %}
  <br>
  <p>This CRUD application can create posts, publish them in the feed, update and delete. For authentication, JWT is used, for the frontend - Angular, for the backend - Django.</p>

    <app-root>Loading the app...</app-root>

  <script type="text/javascript" src="{% static 'front-end/runtime.js' %}"></script>
  <script type="text/javascript" src="{% static 'front-end/polyfills.js' %}"></script>
  <script type="text/javascript" src="{% static 'front-end/styles.css' %}"></script>
  <script type="text/javascript" src="{% static 'front-end/vendor.js' %}"></script>
  <script type="text/javascript" src="{% static 'front-end/main.js' %}"></script>



{% endblock %}